h1 {
    color:fuchsia;
}

img{
    width:400px;
}

#thirdDiv {
    heigth: 500px;
    width: 600px;
    background-color: plum;
    padding: 50px;
    border: 10px solid rgb(119, 119, 136);
}

#spanId {
    font-size: 18px;
    margin: 50px
}